<!DOCTYPE html>
<html>

<head>

    <title>COM682 - Cloud Native Development</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    
    <script src="../static/app.js"></script>


</head>


<body>

    
    <!-- <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="/">Home</a>
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
 
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
  
          </ul>
        </div>
      </nav> -->


      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Cloud Native Development</h1>
          <p class="lead">A Multimedia Sharing Platform | Powered By Microsoft Azure</p>
        </div>
      </div>

      


      <!-- <div class="container">
        <h1 class="lead">ERROR 404 - If you are seeing this then something is wrong on Azure</h1>
      </div> -->

      {% block content %}
      {% endblock %}











      <footer id="footer" class="text-lg-start">
        <hr>
      
        <div class="container p-4">
          <!--Grid row-->
          <div class="row">
      
            <div class="col-lg-8 col-md-12 ">
              <h5 class="text-uppercase">Cloud Native Development</h5>
      
              <p class="text-justify">
                A Hosted Web Based Application allowing users to share media content across the web. Powered by Microsoft Azure.
      
              </p>
      
              <p class="text-justify">
                Contact Email: killen-t1@ulster.ac.uk
      
              </p>
            </div>
      
            <div class="col-lg-4 col-md-12">
              <h5 class="text-uppercase">Get in touch</h5>
      
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="https://www.linkedin.com/in/toby-k-965b77140/">LinkedIn</a>
                </li>
                <li>
                  <a href="https://github.com/DevTobsterr">GitHub</a>
                </li>
                <li>
                  <a href="https://twitter.com/itoby24">Twitter</a>
                </li>
              </ul>
            </div>
      
      
      
          </div>
      
        </div>
      
        <div class="text-center p-3">
          2021 Copyright:
          <a href="http://www.tobykillen.com">tobykillen.com</a>
          
        </div>
      </footer>
 





    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

<style media="screen">
    .jumbotron {
        color: white;
        height: 250px;
        background-color: black;
    }


    #footer{
      color: white;
      background-color: black;
    }


    #footer a{
      color: white;
      text-decoration: underline;
    }

</style>






</html>